* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
}

a.logo {
    text-decoration: none;
    color: inherit;
}
.logo img {
    height: 90px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.nav-links a:hover {
    text-decoration: underline; 
}
.nav-icons {
    display: flex;
    gap: 20px;
}

.nav-icons a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-icons a:hover {
    color: #666;
}

.login-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 0 20px;
    
}

h1 {
    text-align: left;
    margin-bottom: 15px;
    font-size: 24px;
    color: #000;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #000;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.sign-in-btn {
    margin-top: 1px;
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sign-in-btn:hover {
    background-color: #333;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 130px;
}

.form-footer a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 240px;
}

.form-footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    
    .navbar {
        padding: 15px 20px;
    }
    
    .login-container {
        margin: 30px auto;
    }
}